.app {
  width: 100%;
  min-height: 100vh;
  padding: 10px 10px 0;
  background-color: whitesmoke;

  header {
    margin-bottom: 10px;
    display: flex;
    border-bottom: 1px solid;

    h1 {
      margin: 0 auto;
    }
  }
}

@media (min-width: 600px) {
  .app {
    width: 800px;
    margin: 0 auto;
  }
}
